*{
    margin: 0;
    padding: 0;
}
.container-covid-19{
    display: flex;
    background-color: #f7f7f7;
    height: 60px;
}

.container-covid-19 div{
    flex: 1;    
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-align: center;
    color: #484848;
    line-height: 1.43;
}
.container-covid-19 div a{
    color: #1b1b1b;
    font-weight: bold;
}
